	<nav>
		<ul class= 'pull-left'>
			<li><%= link_to 'Chill Out Room', '#' %></li>
			<li><%= link_to 'Hang Out Room', '#' %></li>
		</ul>
		<ul>
			<li><%= link_to 'Logout', '#' %></li>
		</ul class= 'pull-right'>
	</nav>